body{
  text-align: center;
}

img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  transition: border-radius .5s;
}

.changed {
  border-radius: 25%;
}

section{
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: black;
  color: blanchedalmond;
}

footer {
  background: #aaa3;
  width: 100%;
  align-items: center;
  padding: 32px 0;
}

@media (min-width: 800px) {

  section hi p {
    margin: 0 auto;
    max-width: 800px;
  }

  img {
    max-width: 500px;

  }

}